*.o
*.mod
*.a
*.tgz
*.old
github_bin/
build_majestix
build_commands
_build*/
build*/
src/gfn0
bin/
testprog/gfn0
testprog/coord
ff/
*/.wraplock
*.bak
.*/
!.git/
!.github/
gfnff_topo
gfnff_adjacency
__pycache__
python/gfnff/libgfnff*
*.egg-info/
dist/
